{% extends 'macdevices/base.html' %}

{% block content %}
<h2>List Of Devices from Database</h2>
<table class="table">
  <thead>
    <tr>
      <th>Device Name</th>
      <th>MAC Address</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
    <tr>
      <td>{{ device.name }}</td>
      <td>{{ device.mac_address }}</td>
      <td>{{ device.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <!-- <a href="{% url 'add_device' %}" class="btn btn-primary">Add Device</a> -->
  <button id="add-device-button" class="btn btn-primary">Add Device</button>

</div>

<script>
  $(document).ready(function() {
    // Show the modal dialog when the "Add Device" button is clicked
    $('#add-device-button').click(function() {
      // Send an AJAX request to the server to verify the API key
      $.ajax({
        // url: "/verify_api_key/",
        url : "{% url 'verify_api_key' %}",
        data: {
          api_key: '{{ api_key|safe }}'
        },
        success: function(data) {
          if (data['is_valid']) {
            // If the API key is valid, redirect to the "add device" page
            window.location.href = "{% url 'add_device' %}";
          } else {
            // If the API key is invalid, show an error message
            alert('You are not authorized to perform this action.');
          }
        },
        error: function() {
          // If there is an error, show an error message
          alert('There was an error verifying your API key. Please try again later.');
        }
      });
    });
  });
  </script>

{% endblock %}
